.dark-medium-contrast {
  --md-sys-color-primary: rgb(179 234 178);
  --md-sys-color-surface-tint: rgb(157 212 158);
  --md-sys-color-on-primary: rgb(0 45 12);
  --md-sys-color-primary-container: rgb(105 157 107);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(225 215 255);
  --md-sys-color-on-secondary: rgb(41 28 82);
  --md-sys-color-secondary-container: rgb(150 136 198);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(160 236 203);
  --md-sys-color-on-tertiary: rgb(0 44 30);
  --md-sys-color-tertiary-container: rgb(85 158 129);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(220 219 230);
  --md-sys-color-outline: rgb(178 177 187);
  --md-sys-color-outline-variant: rgb(144 143 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(32 82 40);
  --md-sys-color-primary-fixed: rgb(185 240 184);
  --md-sys-color-on-primary-fixed: rgb(0 22 4);
  --md-sys-color-primary-fixed-dim: rgb(157 212 158);
  --md-sys-color-on-primary-fixed-variant: rgb(10 63 24);
  --md-sys-color-secondary-fixed: rgb(231 222 255);
  --md-sys-color-on-secondary-fixed: rgb(20 3 62);
  --md-sys-color-secondary-fixed-dim: rgb(205 189 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(58 45 100);
  --md-sys-color-tertiary-fixed: rgb(166 242 209);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 13);
  --md-sys-color-tertiary-fixed-dim: rgb(139 214 181);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 63 44);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(68 68 74);
  --md-sys-color-surface-container-lowest: rgb(7 7 12);
  --md-sys-color-surface-container-low: rgb(29 29 35);
  --md-sys-color-surface-container: rgb(39 39 45);
  --md-sys-color-surface-container-high: rgb(50 50 56);
  --md-sys-color-surface-container-highest: rgb(61 61 67);
}
